@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    --bg: hsl(235, 21%, 11%);
    --fg: hsl(234, 39%, 85%);
    --top-img: url("./images/bg-mobile-dark.jpg");
    --bg-todo:hsl(235, 24%, 19%);
    --lg-todo: hsl(237, 14%, 26%);
    --tgl-btn: url("./images/icon-sun.svg");
    --tgl-txt-active:hsl(240, 10%, 72%);
    --tgl-txt-check: hsl(233, 14%, 35%);
    --bx-shdw:hsl(240, 19%, 11%);

    background: var(--bg);
    color: var(--fg);
}
.light{
    --top-img: url("./images/bg-mobile-light.jpg");
    --tgl-btn: url("./images/icon-moon.svg");
    --bg: hsl(0, 0%, 95%);
    --bg-todo: hsl(0, 0%, 98%);
    --fg: hsl(237, 14%, 26%);
    --lg-todo: hsl(236, 33%, 92%);
    --tgl-txt-active:hsl(233, 14%, 35%);
    --tgl-txt-check:hsl(240, 10%, 72%);
    --bx-shdw:rgba(0, 0, 0, 0.028);
}
.background{
    position: absolute;
    top: 0;
    background: var(--top-img);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 225px;
    z-index: -1;
}
.container{
    position: relative;
    margin-top: 45px;
    width: 85%;
    height: auto;
}
header{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 9px;
}
.tgl-btn{
    background: var(--tgl-btn);
    background-size: cover;
    width: 30px;
    height: 30px;
}
.type-todo{
    width: 100%;
    height: 50px;

    background: var(--bg-todo);
    margin-top: 30px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--lg-todo);
    margin-left: 5px;
    cursor: pointer;
}
#todo-input{
    border: none;
    background-color: transparent;
    outline: none;
    width: 85%;
    height: 20px;
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: var(--tgl-txt-active);
    caret-color: hsl(220, 98%, 61%);
}
#todo-input::placeholder{
    color: var(--tgl-txt-check);
}
.todos{
    margin-top: 24px;
}
.todo{
    background: var(--bg-todo);
    width: 100%;
    height: 55px;
    display: grid;
    grid-template-columns: 10% auto 10%;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    cursor: grab;
    border-bottom: 1px solid var(--lg-todo); 
    box-shadow: 0px 0px 0px var(--bx-shdw);
}
.todo input[type="checkbox"]{
    display: none;
}
.todo p{
    margin-left: 5px;
}
.active{
    position: relative;
    background-image: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}
.active::before{
    content: url("./images/icon-check.svg");
    position: absolute;
    bottom: 6px;
    left: 4px;

    width: 10px;
    height: 10px;
}
.cross{
    cursor: pointer;
}
.items-left-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-todo);
    padding: 20px;
    font-size: 15px;
    color: hsl(233, 14%, 35%);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 10px 20px -3px var(--bx-shdw);
}
.filter-container{
    position: relative;
    margin-top: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-todo);
    padding: 20px;
    font-size: 13px;
    color: hsl(233, 14%, 35%);
    border-radius: 4px;
    box-shadow: 0px 10px 20px 10px var(--bx-shdw);
}
.text{
    position: relative;
    margin: 30px 0 50px 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: var(--tgl-txt-check);
}

.attribution{
    color: var(--tgl-txt-check);
    font-size: 11px; text-align: center; 
}
.attribution a{
    color: hsl(228, 45%, 44%); 
}
@media screen and (min-width: 768px) {  
    body{
        --top-img: url("./images/bg-desktop-dark.jpg");
    }
    .light{
        --top-img: url("./images/bg-desktop-light.jpg");
    }
}